body{
    font-family: Arial, Helvetica, sans-serif;
    color: #BBBBBB;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}



.container{
    display: flex;
    flex-direction: column;
}
.subtitle{
    text-decoration: underline;
}
.required{
    color: red;
    font-weight: bold;
}
.cboxes{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}
label{
    font-weight: bold;
}
.pmode{
    float: left;
}
.nav{
    background-color:#BBBBBB;
    color: #6666AA;
    padding-left: 2%;
}
h2{
    display: inline;
    margin-right: 10px;
}

.buttons{
    background-color:#424242;
    display: flex;
    justify-content: center;
    padding: 2%;
}

.maindiv{
    background-color:#424242;
    display: flex;
    align-content: space-between;
    flex-grow: 1;
}
.maindiv
.left_part, .right_part{
    flex: 1;
}
form ul{
    list-style-type: none;
    margin: 0px;
    padding: 5px;
}
form ul > li{
    display: flex;
    padding: 10px;
}
form ul > li > *{
    flex:1;
}

.button {
    background: #76B3FA;
    border-radius: 100px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    margin: 0 15px;
}

/* Hover state animation applied here */
.button:hover {
    -webkit-animation: hover 1200ms linear 2 alternate;
    animation: hover 1200ms linear 2 alternate;
}

/* Active state animation applied here */
.button:active {
    -webkit-animation: active 1200ms ease 1 alternate;
    animation: active 1200ms ease 1 alternate;
    background: #5F9BE0;
}
.danger { background: orangered; }
.danger:active { background: red; }
